.header {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #EDEDED;
    padding: 0 10%;
}

.header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;
}

.header li {
    margin-left: 3rem;
}

.header a {
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
}

.header a:hover,
.header a:active,
.header a.active{
    color: #A280B5;
}

.badge {
    background-color: #EDEDED;
    color: #EDEDED;
    border-radius: 12px;
    padding: 0 1rem;
    margin-left: 0.5rem;
}

.image {
    height: auto; 
    width: auto; 
    max-width: 150px; 
    max-height: 150px;
}