@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: "museo-slab-100";
    src: url("../public/fonts/Museo_Slab_100.otf");
  }
@font-face {
    font-family: "museo-slab-100-italic";
    src: url("../public/fonts/Museo_Slab_100italic.otf");
  }
@font-face {
    font-family: "museo-slab-300";
    src: url("../public/fonts/Museo_Slab_300.otf");
  }

@font-face {
    font-family: "museo-slab-300-italic";
    src: url("../public/fonts/Museo_Slab_300italic.otf");
  }
@font-face {
    font-family: "museo-slab-500";
    src: url("../public/fonts/Museo_Slab_500.otf");
  }
@font-face {
    font-family: "museo-slab-500-italic";
    src: url("../public/fonts/Museo_Slab_500italic.otf");
  }
@font-face {
    font-family: "museo-slab-700";
    src: url("../public/fonts/Museo_Slab_700.otf");
  }
@font-face {
    font-family: "museo-slab-700-italic";
    src: url("../public/fonts/Museo_Slab_700italic.otf");
  }
@font-face {
    font-family: "museo-slab-900";
    src: url("../public/fonts/Museo_Slab_900.otf");
  }
@font-face {
    font-family: "museo-slab-900-italic";
    src: url("../public/fonts/Museo_Slab_900italic.otf");
  }
@font-face {
    font-family: "museo-slab-1000";
    src: url("../public/fonts/Museo_Slab_1000.otf");
  }
@font-face {
    font-family: "museo-slab-1000-italic";
    src: url("../public/fonts/Museo_Slab_1000italic.otf");
  }
@font-face {
    font-family: "DancingScript_Regular";
    src: url("../public/fonts/DancingScript_Regular.otf");
  }
@font-face {
    font-family: "QuicksandRegular";
    src: url("../public/fonts/Quicksand-Regular.otf");
  }
@font-face {
    font-family: "KaushanScript_Regular";
    src: url("../public/fonts/KaushanScript_Regular.otf");
  }
@font-face {
    font-family: "QuicksandLight";
    src: url("../public/fonts/Quicksand-Light.otf");
  }